<h1 class="text-center mb-5">Create Battle</h1>

<div class="container text-center">
  <div class="row justify-content-center">
    <div class="text-center col col-lg-7">
      <% if @available_pokemons.count != 0 %>
        <%= form_with(model: @battle, url: battles_path, method: :post) do |form| %>
          <% if @battle.errors.any? %>
            <div id="error_explanation" class="alert alert-danger my-4">
              <h2><%= pluralize(@battle.errors.count, "error") %> prohibited this battle from being saved:</h2>
              <ul>
                <% @battle.errors.each do |error| %>
                  <li class="text-start"><%= error.full_message %></li>
                <% end %>
              </ul>
            </div>
          <% end %>

          <div class="field my-3">
            <%= form.label :pokemon_1_id, class: "sr-only" %>
            <%= form.select :pokemon_1_id, options_for_select(@available_pokemons.pluck(:name, :id)), class: "form-control", placeholder: "Pokemon A" %>
          </div>

          <div class="field my-3">
            <%= form.label :pokemon_2_id, class: "sr-only" %>
            <%= form.select :pokemon_2_id, options_for_select(@available_pokemons.pluck(:name, :id)), class: "form-control", placeholder: "Pokemon B" %>
          </div>

          <div class="actions">
            <%= form.submit "Submit", class: "btn btn-lg btn-primary btn-block bg-secondary m-3" %>
          </div>
        <% end %>
      <% else %>
        <div class="field">
          <h5>The pokemon's data is empty</h5>
        </div>
      <% end %>

      <%= button_to "Cancel", battles_path, method: :get, class: "text-center" %>
    </div>
  </div>
</div>

