<h1 class="text-center">Battle Detail</h1>

<%= @result %> <br>
<%= @turn %> <br>
<%= @sampe_sini %> <br>
<p>penghitungan</p>
<p>attacker_level:<%= @attacker_level %></p>
<p>attacker_move_power:<%= @attacker_move_power %></p>
<p>attacker_attack_stat:<%= @attacker_attack_stat %></p>
<p>defender_defense_stat:<%= @defender_defense_stat %></p>
<p>STAB:<%= @STAB %></p>
<p>type1:<%= @type1 %></p>
<p>type2:<%= @type2 %></p>
<p>step1:<%= @step1 %></p>
<p>step2:<%= @step2 %></p>
<p>step3:<%= @step3 %></p>
<p>step4:<%= @step4 %></p>
<p>damage:<%= @damage %></p>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Turn</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @battle.id %></td>
          <td><%= @battle.turn %></td>
          <td><%= @battle.status %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="container text-center">
  <div class="row justify-content-between">
    <div class="col-6">
      <h1>Pokemon A Detail</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Current HP</th>
              <th>Attack</th>
              <th>Defense</th>
              <th>Sp. Attack</th>
              <th>Sp. Defense</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @pokemon1.name %></td>
                <td><%= @pokemon1.current_health_point %>/<%= @pokemon1.max_health_point %></td>
                <td><%= @pokemon1.attack %></td>
                <td><%= @pokemon1.defense %></td>
                <td><%= @pokemon1.special_attack %></td>
                <td><%= @pokemon1.special_defense %></td>
              </tr>
          </tbody>
        </table>
      </div>

      <h3>Pokemon A Types</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @types_pokemon1.each do |type| %>
              <tr>
                <td><a href="#"><%= type.id %></a></td>
                <td><a href="#"><%= type.name %></a></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <h3>Pokemon A Moves</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Power Points</th>
              <th>Action</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @moves_pokemon1.each do |move| %>
              <% pokemons_move = @pokemons_moves_a.find_by(move_id: move.id) %>
              <tr>
                <td><a href="#"><%= move.id %></a></td>
                <td><a href="#"><%= move.name %></a></td>
                <td><a href="#"><%= pokemons_move.current_power_points ? pokemons_move.current_power_points : move.power_points %>/<%= move.power_points %></a></td>
                <td>
                  <%= form_with(url: move_battle_path(@battle, attacker_id: @pokemon1.id, defender_id: @pokemon2.id), method: :post) do |f| %>
                    <%= f.hidden_field :attacker_move_id, value: move.id %>
                    <%= f.submit "Use", class: "btn btn-secondary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
    <div class="col-6">
      <h1>Pokemon B Detail</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Name</th>
              <th>Current HP</th>
              <th>Attack</th>
              <th>Defense</th>
              <th>Sp. Attack</th>
              <th>Sp. Defense</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @pokemon2.name %></td>
                <td><%= @pokemon2.current_health_point %>/<%= @pokemon2.max_health_point %></td>
                <td><%= @pokemon2.attack %></td>
                <td><%= @pokemon2.defense %></td>
                <td><%= @pokemon2.special_attack %></td>
                <td><%= @pokemon2.special_defense %></td>
              </tr>
          </tbody>
        </table>
      </div>

      <h3>Pokemon B Types</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @types_pokemon2.each do |type| %>
              <tr>
                <td><a href="#"><%= type.id %></a></td>
                <td><a href="#"><%= type.name %></a></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <h3>Pokemon B Moves</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Power Points</th>
              <th>Action</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @moves_pokemon2.each do |move| %>
              <% pokemons_move = @pokemons_moves_b.find_by(move_id: move.id) %>
              <tr>
                <td><a href="#"><%= move.id %></a></td>
                <td><a href="#"><%= move.name %></a></td>
                <td><a href="#"><%= pokemons_move.current_power_points ? pokemons_move.current_power_points : move.power_points %>/<%= move.power_points %></a></td>
                <td>
                  <%= form_with(url: move_battle_path(@battle, attacker_id: @pokemon2.id, defender_id: @pokemon1.id), method: :post) do |f| %>
                    <%= f.hidden_field :attacker_move_id, value: move.id %>
                    <%= f.submit "Use", class: "btn btn-secondary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= button_to "Back", battles_path, method: :get, class: "btn btn-secondary mt-3" %>