<h1 class="text-center">Battle Detail</h1>

<%= @turn %> <br>
<%= @sampe_sini %> <br>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>ID</th>
        <th>Turn</th>
        <th>Status</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @battle.id %></td>
          <td><%= @battle.turn %></td>
          <td><%= @battle.status %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="container text-center">
  <div class="row justify-content-between">
    <div class="col-6">
      <h1>Pokemon A Detail</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Current HP</th>
              <th>Attack</th>
              <th>Defense</th>
              <th>Sp. Attack</th>
              <th>Sp. Defense</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @pokemon1.id %></td>
                <td><%= @pokemon1.name %></td>
                <td><%= @pokemon1.current_health_point %>/<%= @pokemon1.max_health_point %></td>
                <td><%= @pokemon1.attack %></td>
                <td><%= @pokemon1.defense %></td>
                <td><%= @pokemon1.special_attack %></td>
                <td><%= @pokemon1.special_defense %></td>
              </tr>
          </tbody>
        </table>
      </div>

      <h3>Pokemon A Types</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @pokemon1_types.each do |type| %>
              <tr>
                <td><a href="#"><%= type.id %></a></td>
                <td><a href="#"><%= type.name %></a></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <h3>Pokemon A Moves</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Power Points</th>
              <th>Action</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @pokemon1_moves.each do |move| %>
              <% moves_pokemon = @pokemon1_moves_pokemons.find_by(move_id: move.id) %>
              <tr>
                <td><a href="#"><%= move.id %></a></td>
                <td><a href="#"><%= move.name %></a></td>
                <td><a href="#"><%= moves_pokemon.current_power_points ? moves_pokemon.current_power_points : move.power_points %>/<%= move.power_points %></a></td>
                <td>
                  <%= form_with(url: move_battle_path(@battle, attacker_id: @pokemon1.id, defender_id: @pokemon2.id), method: :post) do |f| %>
                    <%= f.hidden_field :attacker_moves_pokemon_id, value: moves_pokemon.id %>
                    <%= f.submit "Use", class: "btn btn-secondary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>
    </div>
    <div class="col-6">
      <h1>Pokemon B Detail</h1>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Current HP</th>
              <th>Attack</th>
              <th>Defense</th>
              <th>Sp. Attack</th>
              <th>Sp. Defense</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
              <tr>
                <td><%= @pokemon2.id %></td>
                <td><%= @pokemon2.name %></td>
                <td><%= @pokemon2.current_health_point %>/<%= @pokemon2.max_health_point %></td>
                <td><%= @pokemon2.attack %></td>
                <td><%= @pokemon2.defense %></td>
                <td><%= @pokemon2.special_attack %></td>
                <td><%= @pokemon2.special_defense %></td>
              </tr>
          </tbody>
        </table>
      </div>

      <h3>Pokemon B Types</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th></th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @pokemon2_types.each do |type| %>
              <tr>
                <td><a href="#"><%= type.id %></a></td>
                <td><a href="#"><%= type.name %></a></td>
              </tr>
            <% end %>
          </tbody>

        </table>
      </div>

      <h3>Pokemon B Moves</h3>

      <div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Power Points</th>
              <th>Action</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @pokemon2_moves.each do |move| %>
              <% moves_pokemon = @pokemon2_moves_pokemons.find_by(move_id: move.id) %>
              <tr>
                <td><a href="#"><%= move.id %></a></td>
                <td><a href="#"><%= move.name %></a></td>
                <td><a href="#"><%= moves_pokemon.current_power_points ? moves_pokemon.current_power_points : move.power_points %>/<%= move.power_points %></a></td>
                <td>
                  <%= form_with(url: move_battle_path(@battle, attacker_id: @pokemon2.id, defender_id: @pokemon1.id), method: :post) do |f| %>
                    <%= f.hidden_field :attacker_moves_pokemon_id, value: moves_pokemon.id %>
                    <%= f.submit "Use", class: "btn btn-secondary" %>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<%= button_to "Back", battles_path, method: :get, class: "btn btn-secondary mt-3" %>