<h1 class="text-center">Edit Types</h1>

<div class="container text-center">
  <div class="row justify-content-center">
    <div class="col col-lg-7">
      <h3>Pokemon Data</h3>
      <p>ID:<%= @pokemon.id %></p>
      <p>Name:<%= @pokemon.name %></p>
      
      <h3>Types Data</h3>
      <%= form_with(model: @pokemon, url: pokemon_update_types_path(@pokemon), method: :post) do |form| %>
        <% if @pokemon.errors.any? %>
          <div id="error_explanation" class="alert alert-danger my-4">
            <h2><%= pluralize(@pokemon.errors.count, "error") %> prohibited this pokemon's types from being saved:</h2>
            <ul>
              <% @pokemon.errors.each do |error| %>
                <li class="text-start"><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field mx-auto" style="width: 250px">
          <%= form.label :type_ids, "Select Types:", class: "sr-only text-start" %> <br>
          <%= form.collection_check_boxes(:type_ids, @types, :id, :name, class: "text-start") do |b| %>
            <%= b.check_box + b.label %><br>
          <% end %>
        </div>

        <div class="actions">
          <%= form.submit "Next", class: "btn btn-secondary m-3" %>
        </div>
      <% end %>
      
      <%= button_to "Cancel", pokemon_path(@pokemon), method: :get, class: "btn btn-secondary" %>
    </div>
  </div>
</div>

