<h1>Pokemon Detail</h1>

<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th>Name</th>
        <th>Current HP</th>
        <th>Attack</th>
        <th>Defense</th>
        <th>Sp. Attack</th>
        <th>Sp. Defense</th>
        <th>Power</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
        <tr>
          <td><%= @pokemon.name %></td>
          <td><%= @pokemon.current_health_point %>/<%= @pokemon.max_health_point %></td>
          <td><%= @pokemon.attack %></td>
          <td><%= @pokemon.defense %></td>
          <td><%= @pokemon.special_attack %></td>
          <td><%= @pokemon.special_defense %></td>
          <td><%= @pokemon.power %></td>
        </tr>
    </tbody>
  </table>

  <%= button_to "Edit", pokemon_edit_path(@pokemon), method: :get %>
  <%= button_to "Delete", pokemon_delete_path(@pokemon), method: :delete, data: {confirm: 'Are you sure you want to delete a Pokemon named pokemon_name?'} %>

  <button>Edit Moves</button>

  <%= button_to "Back", pokemons_index_path, method: :get, class: "text-center" %>
</div>