<!DOCTYPE html>
<html>
  <head>
    <title>PokemonApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%# Navbar %>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <%= image_tag('pokemon_logo.png', class: "", alt: "pokemon_logo", height: "50") %>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="<%= battles_path %>">Battles</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="<%= pokemons_path %>">Pokemons</a>
            </li>
        </div>
      </div>
    </nav>
    
    <div class="container py-5">
      <%# Flash %>
      <% flash.each do |type, message| %>
        <div class="alert alert-<%= type %>">
          <%= message %>
        </div>
      <% end %>

      <%= yield %>
    </div>

  </body>
</html>
